# Linear Regression

$$ y = m*X + b $$

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'x' : [1, 2, 3, 4, 5, 6, 7],'y' : [1.5, 3.8, 6.7, 9.0, 11.2, 13.6, 16]}       # data
df = pd.DataFrame(data=data)        # converting data into dataframe
df

   x     y
0  1   1.5
1  2   3.8
2  3   6.7
3  4   9.0
4  5  11.2
5  6  13.6
6  7  16.0

In [3]:
df['x*y'] = df['x'] * df['y']     # multiplication of x and y values
df['sqr_x'] = df['x'] ** 2        # square of x values
df['sum_xy'] = df['x'] + df['y']  # sum of x and y values

In [4]:
df

   x     y    x*y  sqr_x  sum_xy
0  1   1.5    1.5      1     2.5
1  2   3.8    7.6      4     5.8
2  3   6.7   20.1      9     9.7
3  4   9.0   36.0     16    13.0
4  5  11.2   56.0     25    16.2
5  6  13.6   81.6     36    19.6
6  7  16.0  112.0     49    23.0

# Finding 'M' Value

$$ m = \frac{(n * \sum_{i=0}^{n} X_{i} * Y_{i}) - (\sum_{i=0}^{n} X * \sum_{i=0}^{n} Y)}{(n*\sum_{i=0}^{n}X^{2}) - (\sum_{i=0}^{n}X)^{2}}$$

# Finding 'b' Value

$$ b = \frac{\sum_{i=0}^{n} Y_{i} - m * \sum_{i=0}^{n} X_{i}}{n} $$

# Mean Squared Error(MSE)

$$ MSE = \frac{\sum_{i=0}^{n}(Y_{orig}-Y_{pred})^{2}}{n}$$

# Mean Absolute Error(MAE)

$$MAE = \frac{\sum_{i=0}^{n}(Y_{orig}-Y_{pred})}{n}$$

In [5]:
class LinearRegression:
    
    def __init__(self, df):
        self.n = len(df)
        self.sum_x = df['x'].sum()
        self.sum_y = df['y'].sum()
        self.sum_xy = df['sum_xy'].sum()
        self.sqr_x = df['sqr_x'].sum()
        self.sumx_h_2 = sum_x ** 2 
        
        
    def m(self, n, sum_x, sum_y, sum_xy, sqr_x, sumx_h_2):     # To find m value
        self.numerator = n*(sum_xy) - (sum_x) * (sum_y)
        self.denominator = n*(sqr_x) - (sumx_h_2)
        self.m = self.numerator / self.denominator
        return self.m
    
    def b(self, n, sum_x, sum_y):                             # To find b value
        self.numerator_b = ((sum_y) - (m * sum_x))
        self.b = self.numerator_b / n
        return self.b
    
    def fit_train(self, m, b , df):                           # To find ypred (y= mx + b)
        self.y_pred = [(m*x_val) + b for x_val in df['x']]
        return self.y_pred
    
    def mse(self, df, y_pred):                                # To find mse
        mse = sum([(y_org - y_pred)**2 for y_org, y_pred in zip(df['y'],y_pred)]) / n
        return mse
    
    def mae(self, df, y_pred):                                # To find mae
        mae = sum([((y_org - y_pred)) for y_org, y_pred in zip(df['y'], y_pred)]) / n
        return mae

In [7]:
obj_m = LinearRegression(df)
obj_m.m(n, sum_x, sum_y, sum_xy, sqr_x, sumx_h_2)
print('m value is:',m)

NameError: name 'sum_x' is not defined

In [ ]:
obj_b = LinearRegression(df)
obj_b.b(n, sum_x, sum_y)
print('Value of b is:',b)